In [1]:
%matplotlib notebook
import pandas as pd
#from IPython.display import display
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.color_palette()
sns.set()

In [2]:
country_data = "/Users/shilpa/Desktop/Boringppl_project/WasteManagement/Data/country_level_data_0.csv"
country_data_df = pd.read_csv(country_data, encoding = 'utf-8')
#country_data_df.head(1)

In [3]:
waste = pd.DataFrame(country_data_df, columns=['country_name', 
                                'income_id',
                                'gdp', 
                                'population_population_number_of_people',
                                'composition_food_organic_waste_percent', 
                                'composition_glass_percent',
                                'composition_metal_percent', 
                                'composition_other_percent',
                                'composition_paper_cardboard_percent', 
                                'composition_plastic_percent',
                                'composition_rubber_leather_percent', 
                                'composition_wood_percent',
                                'composition_yard_garden_green_waste_percent',
                                'special_waste_agricultural_waste_tons_year',
                                'special_waste_construction_and_demolition_waste_tons_year',
                                'special_waste_e_waste_tons_year',
                                'special_waste_hazardous_waste_tons_year',
                                'special_waste_industrial_waste_tons_year',
                                'special_waste_medical_waste_tons_year',
                                'total_msw_total_msw_generated_tons_year'])

waste.head()

,country_name,income_id,gdp,population_population_number_of_people,composition_food_organic_waste_percent,composition_glass_percent,composition_metal_percent,composition_other_percent,composition_paper_cardboard_percent,composition_plastic_percent,composition_rubber_leather_percent,composition_wood_percent,composition_yard_garden_green_waste_percent,special_waste_agricultural_waste_tons_year,special_waste_construction_and_demolition_waste_tons_year,special_waste_e_waste_tons_year,special_waste_hazardous_waste_tons_year,special_waste_industrial_waste_tons_year,special_waste_medical_waste_tons_year,total_msw_total_msw_generated_tons_year
0,Aruba,HIC,NaN,103187.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.813202e+04
1,Afghanistan,LIC,2.141361e+10,34656032.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6802511.0,NaN,20000.0,NaN,NaN,9855.00,5.628525e+06
2,Angola,LMC,1.030423e+11,25096150.0,51.8,6.7,4.4,11.50,11.9,13.5,NaN,NaN,NaN,NaN,NaN,92000.0,NaN,NaN,5495.95,4.213644e+06
3,Albania,UMC,1.347108e+10,2880703.0,51.4,4.5,4.8,15.21,9.9,9.6,NaN,4.6,NaN,NaN,203009.0,20000.0,5714.82,270269.0,114.30,1.142964e+06
4,Andorra,HIC,3.319880e+09,82431.0,31.2,8.2,2.6,11.60,35.1,11.3,NaN,NaN,NaN,NaN,NaN,NaN,1788.00,NaN,NaN,4.300000e+04

In [4]:
All_waste = waste.rename(columns={'country_name': 'Country', 
                                'income_id': "Income",
                                'gdp': 'GDP', 
                                'population_population_number_of_people': 'Population',
                                'composition_food_organic_waste_percent': 'Organic', 
                                'composition_glass_percent': 'Glass',
                                'composition_metal_percent': 'Metal', 
                                'composition_other_percent': 'Other',
                                'composition_paper_cardboard_percent': 'Cardboard', 
                                'composition_plastic_percent': 'Plastic',
                                'composition_rubber_leather_percent': 'Rubber_Leather', 
                                'composition_wood_percent': 'Wood',
                                'composition_yard_garden_green_waste_percent': 'Yard_Garden',
                                'special_waste_agricultural_waste_tons_year': 'Agricultural',
                                'special_waste_construction_and_demolition_waste_tons_year': 'Building',
                                'special_waste_e_waste_tons_year': 'Electronic',
                                'special_waste_hazardous_waste_tons_year': 'Hazardous',
                                'special_waste_industrial_waste_tons_year': 'Industrial',
                                'special_waste_medical_waste_tons_year': 'Medical',
                                'total_msw_total_msw_generated_tons_year': 'Total_MSW'})

All_waste.fillna(0).head(3)

,Country,Income,GDP,Population,Organic,Glass,Metal,Other,Cardboard,Plastic,Rubber_Leather,Wood,Yard_Garden,Agricultural,Building,Electronic,Hazardous,Industrial,Medical,Total_MSW
0,Aruba,HIC,0.000000e+00,103187.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,8.813202e+04
1,Afghanistan,LIC,2.141361e+10,34656032.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6802511.0,0.0,20000.0,0.0,0.0,9855.00,5.628525e+06
2,Angola,LMC,1.030423e+11,25096150.0,51.8,6.7,4.4,11.5,11.9,13.5,0.0,0.0,0.0,0.0,0.0,92000.0,0.0,0.0,5495.95,4.213644e+06

In [5]:
General_waste = All_waste[['Country', 
                       'Income', 
                       'Organic', 
                        'Glass', 
                        'Metal', 
                        'Other', 
                        'Cardboard', 
                        'Plastic', 
                        'Rubber_Leather', 
                        'Wood', 
                        'Yard_Garden'
                        ]]
General_waste.fillna(0).set_index('Country').head(3)

,Income,Organic,Glass,Metal,Other,Cardboard,Plastic,Rubber_Leather,Wood,Yard_Garden
Country,,,,,,,,,,
Aruba,HIC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Afghanistan,LIC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Angola,LMC,51.8,6.7,4.4,11.5,11.9,13.5,0.0,0.0,0.0

In [6]:
Treatment_LIC = General_waste.groupby('Income').get_group('LIC').drop_duplicates().set_index('Country')
Treatment_LIC
df1 = Treatment_LIC.median(axis=0)
df_LIC= pd.DataFrame(df1)
df_LIC
df_LIC.rename(columns={0:'Percent'}, inplace=True)
pd.options.display.float_format = '{:,.0f}'.format
df_LIC.index.names = ['Waste']

# Convert index 'Waste" to column, and then Swap columns (Waste and Percent) 
df_LIC.reset_index(level=0, inplace=True)
df_LIC = df_LIC[['Percent', 'Waste']]
df_LIC

# Drop the row 'Income'
i = df_LIC[(df_LIC.Waste == 'Income')].index
df_LIC = df_LIC.drop(i)
df_LIC['Percent'] = df_LIC['Percent'].astype(float)
df_LIC

   Percent           Waste
0       52         Organic
1        2           Glass
2        2           Metal
3       22           Other
4        7       Cardboard
5        7         Plastic
6        1  Rubber_Leather
7        2            Wood
8        6     Yard_Garden

In [18]:
# import pandas as pd
# import matplotlib.pyplot as plt
# import squarify

# df = pd.DataFrame(df_LIC)
# df
# squarify.plot(sizes=df['Percent'], label=df['Waste'], alpha=0.7 )
# plt.axis('off')
# plt.title("Waste Composition in Low Income Countries")
# plt.show()
# plt.savefig('Treemap_LIC.png')

In [19]:
Treatment_LMC = General_waste.groupby('Income').get_group('LMC').drop_duplicates().set_index('Country')
df1 = Treatment_LMC.median(axis=0)
df_LMC= pd.DataFrame(df1)
df_LMC.rename(columns={0:'Percent'}, inplace=True)
pd.options.display.float_format = '{:,.0f}'.format
df_LMC.index.names = ['Waste']

# Convert index 'Waste" to column, and then Swap columns (Waste and Percent) 
df_LMC.reset_index(level=0, inplace=True)
df_LMC = df_LMC[['Percent', 'Waste']]
df_LMC

# Drop the row 'Income'
i = df_LMC[(df_LMC.Waste == 'Income')].index
df_LMC = df_LMC.drop(i)
df_LMC['Percent'] = df_LMC['Percent'].astype(float)
df_LMC

   Percent           Waste
0       54         Organic
1        3           Glass
2        3           Metal
3       13           Other
4       10       Cardboard
5       11         Plastic
6        1  Rubber_Leather
7        6            Wood
8        1     Yard_Garden

In [24]:
# import pandas as pd
# import matplotlib.pyplot as plt
# import squarify

# df = pd.DataFrame(df_LMC)
# df
# squarify.plot(sizes=df['Percent'], label=df['Waste'], alpha=0.7 )
# plt.axis('off')
# plt.title("Waste Composition in Lower-Middle Income Countries")
# plt.show()
# plt.savefig('Treemap_LMC.png')

In [25]:
Treatment_UMC = General_waste.groupby('Income').get_group('UMC').drop_duplicates().set_index('Country')
df1 = Treatment_UMC.median(axis=0)
df_UMC= pd.DataFrame(df1)
df_UMC.rename(columns={0:'Percent'}, inplace=True)
pd.options.display.float_format = '{:,.0f}'.format
df_UMC.index.names = ['Waste']

# Convert index 'Waste" to column, and then Swap columns (Waste and Percent) 
df_UMC.reset_index(level=0, inplace=True)
df_UMC = df_UMC[['Percent', 'Waste']]
df_UMC

# Drop the row 'Income'
i = df_UMC[(df_UMC.Waste == 'Income')].index
df_UMC = df_UMC.drop(i)
df_UMC['Percent'] = df_UMC['Percent'].astype(float)
df_UMC

   Percent           Waste
0       50         Organic
1        4           Glass
2        3           Metal
3       14           Other
4       11       Cardboard
5       12         Plastic
6        2  Rubber_Leather
7        2            Wood
8       12     Yard_Garden

In [27]:
# import pandas as pd
# import matplotlib.pyplot as plt
# import squarify

# df = pd.DataFrame(df_UMC)
# df

# squarify.plot(sizes=df['Percent'], label=df['Waste'], alpha=0.7 )
# plt.axis('off')
# plt.title("Waste Composition in Upper-Middle Income Countries")
# plt.show()
# plt.savefig('Treemap_UMC.png')

In [28]:
Treatment_HIC = General_waste.groupby('Income').get_group('HIC').drop_duplicates().set_index('Country')
df1 = Treatment_HIC.median(axis=0)
df_HIC= pd.DataFrame(df1)
df_HIC.rename(columns={0:'Percent'}, inplace=True)
pd.options.display.float_format = '{:,.0f}'.format
df_HIC.index.names = ['Waste']

# Convert index 'Waste" to column, and then Swap columns (Waste and Percent) 
df_HIC.reset_index(level=0, inplace=True)
df_HIC = df_HIC[['Percent', 'Waste']]
df_HIC

# Drop the row 'Income'
i = df_HIC[(df_HIC.Waste == 'Income')].index
df_HIC = df_HIC.drop(i)
df_HIC['Percent'] = df_HIC['Percent'].astype(float)
df_HIC

   Percent           Waste
0       34         Organic
1        5           Glass
2        4           Metal
3       14           Other
4       20       Cardboard
5       12         Plastic
6        2  Rubber_Leather
7        2            Wood
8        6     Yard_Garden

In [30]:
# import pandas as pd
# import matplotlib.pyplot as plt
# import squarify

# df = pd.DataFrame(df_HIC)
# df

# squarify.plot(sizes=df['Percent'], label=df['Waste'], alpha=0.7 )
# plt.axis('off')
# plt.title("Waste Composition in High Income Countries")
# plt.show()
# plt.savefig('Treemap_HIC.png')